service: sqlite-example
frameworkVersion: ">=1.34.0 <2.0.0"

provider:
  name: aws
  runtime: python3.6

functions:
  hello:
    handler: handler.hello
    layers:
      - arn:aws:lambda:us-west-2:377024778620:layer:sqlitePython36:2
